.button-back-page {
    left: 16px;
}

.checkout-bg {
    background-image: url("../assets/images/checkout/checkout-page-bg.png");
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    width: 100%;
}

.checkout-main {
    margin: 0 5% 62px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;
}

.checkout-movie-info {
    width: 400px;
}

.movie-details {
    padding-top: 0;
    gap: 8px;
}

.checkout-subtitle {
    width: 242px;
}

/* Extra Small (xs) */
@media (min-width: 470px) {

    .checkout-movie-info {
        margin-top: 24px;
        margin-bottom: 40px;
    }

    .movie-title {
        font-size: 28px;
        text-align: left;
        width: 300px;
        padding-top: 42px;
    }

    .checkout-movie-cover-checkout-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        width: 380px;
    }

    #movie-cover {
        width: auto;
        height: 174px;
        border-radius: 8px;
    }

    .checkout-text {
        font-size: 1rem;
        font-weight: 300;
        line-height: 28px;
        width: 184px;
    }

    .checkout-audio {
        padding-bottom: 1rem;
    }

    .form-payment {
        width: 330px;
    }

    .payment-form-colum {
        margin-bottom: 12px;
    }

    #payment-method {
        height: 57px;
        width: 330px;
        padding: 16px 20px;
        border-radius: .5rem;
        border: none;
        font-family: "Ubuntu", sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: #BCBCBC;
        background-color: #4B4B4B;
        margin-bottom: 12px;
    }

    input[type=text] {
        height: 57px;
        width: 330px;
        padding: 16px 20px;
        border-radius: .5rem;
        border: none;
        font-family: "Ubuntu", sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: #4B4B4B;
        background-color: #BCBCBC;
    }

    #expmonth {
        width: 194px;
    }

    #cvc {
        width: 123px;
    }

    .exp-cvc {
        display: flex;
        justify-content: space-between;
    }

    button[type=submit] {
        background-color: var(--secondary);
        color: #000000;
        width: 330px;
        height: 57px;
        border: none;
        border-radius: .5rem;
        cursor: pointer;
        font-size: 24px;
        font-family: "Ubuntu", sans-serif;
    }

    button[type=submit]:hover {
        background-color: #FFD568;
    }
}

/* Small (sm) */
@media (min-width: 640px) {
}

/* Medium (md) */
@media (min-width: 768px) {

    .checkout-bg {
        background-image: url("../assets/images/checkout/checkout-page-bg.png");
        position: absolute;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 600px;
        width: 100%;
        top: 76px;
    }

    .movie-title {
        padding: 0;
    }

    .checkout-main {
        margin: 68px 4% 84px 4%;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .form-payment {
        margin-top: 24px;
    }

    .checkout-text {
        width: 100%;
    }

    .movie-details {
        gap: .5rem;
        padding-bottom: 1rem;
    }

    .checkout-subtitle {
        width: 100%;
    }

    .checkout-movie-cover-checkout-text {
        gap: 1rem;
    }
}

@media (min-width: 882px) {
    .button-back-page {
        left: 56px;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {

    .button-back-page {
        left: 78px;
    }

    .movie-title {
        width: 500px;
    }

    .checkout-movie-info {
        padding-right: 24px;
    }

    .checkout-main {
        justify-content: space-between;
        margin: 88px 8%;
    }

    #movie-cover {
        width: auto;
        height: 248px;
    }

    .movie-details {
        gap: 1rem;
        padding-top: 1rem;
    }

    .checkout-movie-cover-checkout-text {
        margin-top: 2rem;
        width: 500px;
        align-items: flex-start;
    }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {

    .checkout-main {
        margin: 68px 15%;
    }

    .movie-title {
        font-size: 2rem;
    }

    .checkout-text {
        font-size: 18px;
    }

    #movie-cover {
        width: auto;
        height: 270px;
    }
}


@media (min-width: 1580px) {

    .button-back-page {
        left: 160px;
    }

    .movie-title {
        font-size: 2rem;
        width: 700px;
    }
}