
/* HEADER */

.header-square-eyes {
   display: flex;
   padding: 22px 1rem;
}

.line-divider-header {
    background-color: var(--secondary);
    width: 1px;
    height: 18px;
}

 .dropdown-btn {
   color: white;
   padding: 4px;
   font-size: 16px;
   border: none;
   cursor: pointer;
 }

 .dropdown-menu {
   position: relative;
   display: inline-block;
 }

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #FFD568;
   min-width: 160px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   z-index: 1;
   border-radius: 4px;
 }

 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

 .dropdown-content a:hover {background-color: #f1f1f1}

 .dropdown-menu:hover .dropdown-content {
   display: block;
 }

 .dropdown-menu:hover .dropdown-btn {
 color: var(--secondary);
 }

/* FOOTER */
.footer-homepage {
    padding: 0 5%;
}

.list-social-media {
    display: flex;
    gap: 54px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 52px;
}

.icon-facebook, .icon-twitter, .icon-insta {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.list-footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 82px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
}

.list-footer-text a {
    text-decoration: none;
    color: #FFFFFF;
}

.list-footer-text a:hover {
    color: #FFD568;
}

.footer-bottom {
    display: flex;
    align-items: center;
    padding: 68px 0;
    justify-content: center;
}

.copyright {
    font-size: 14px;
    color: #C2C2C2;
}

.language-selection {
    display: flex;
    margin-left: 44px;
}

.icon-globe {
    height: 38px;
    width: 38px;
}

.language-selection-english {
    width: 97px;
    height: 38px;
    border: 2px solid #353535;
    color: #BABABA;
    background-color: rgba(40, 40, 40, 80);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    font-size: 20px;
    font-weight: 300;
}

footer {
    background-color: #1C1C1C;
    padding-top: 68px;
}


/* Extra Extra Small (xxs) */
@media (min-width: 430px) {

    .header-square-eyes {
        justify-content: space-between;
    }

    .logo {
     width: 138px;
     height: auto;
    }

    .header-search-and-my-account-desktop, .nav-links{
        display: none;
    }

    .header-search-account-burger-mobile {
      display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .list-social-media {
            justify-content: center;
            align-content: center;
            padding: 82px 0;
        }

}

/* Extra Small (xs) */
@media (min-width: 470px)  {
    .logo {
        width: 160px;
        height: auto;
    }
}

/* Small (sm) */
@media (min-width: 640px) {



}

/* Medium (md) */
@media (min-width: 768px) {
  .footer-logo-and-social-icons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row-reverse;
          padding-bottom: 68px;
          padding-top: 68px;
      }

      .list-social-media {
          margin: 0;
          padding-top: 0;
      }

      .footer-logo {
          margin: 0;
      }

      .footer-bottom {
          display: flex;
          justify-content: space-between;
      }

       .list-footer-text {
              flex-direction: row;
              justify-content: space-between;
        }
       } 

/* Large (lg) */
@media (min-width: 1024px) {

.header-search-account-burger-mobile {
    display: none;
}

.header-search-and-my-account-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.nav-links li, .header-search-desktop, .header-account-desktop {
  cursor: pointer;   
}

.nav-links li:hover, .header-search-desktop:hover, .header-account-desktop:hover {
  color: var(--secondary)
}


.header-search-and-my-account-desktop, .nav-links {
    font-size: 1rem;
    font-weight: 300;
}

.header-account-desktop, .header-search-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

}

/* Extra Large (xl) */
@media (min-width: 1280px) {

    .nav-links, .dropdown-btn, .header-search-and-my-account-desktop {
        font-size: 20px;
    }

    .header-square-eyes {
        padding-left: 24px;
        padding-right: 24px;
    }
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */
}