.button-back-movie-page {
    background-color: #FFB80040;
    border-radius: .5rem;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    border-style: none;
    height: 27px;
    width: 83px;
    cursor: pointer;
    text-decoration: none;
}

.button-back-movie-page-text {
    text-decoration: none;
    color: #000000;
}

#left-arrow {
    padding-top: 4px;
}

.button-back-movie-page:hover {
    background-color: var(--secondary);
}

.movie-page-heading-and-cover {
    display: flex;
    justify-content: space-between;
}

#dd-heading {
    font-weight: 400;
    align-self: flex-end;
}

.movie-details {
    display: flex;
    align-items: center;
    gap: 18px;
    padding-top: 22px;
    padding-bottom: 28px;
    font-weight: 300;
}

.imbd-rating {
    display: flex;
    align-items: center;
    gap: 12px;
}

.movie-description {
    font-weight: 300;
    line-height: 180%;
    margin-bottom: 42px;
}

#movie-page-carousel-heading {
    font-size: 18px;
    font-weight: 300;
}

.movie-page-carousel {
    padding-bottom: 62px;
}


/* Extra Small (xs) */
@media (min-width: 470px) {

    .main-movie-page {
        margin: 0 16px;
    }

    .movie-section {
        margin-top: 72px;
        margin-bottom: 42px;
     }

    .movie-page-bg-img {
        background-image: url("../assets/images/moviepage/dungeons-and-dragons-mobile.png");
        background-size: 100%;
        height: 500px;
        width: 100%;
        z-index: -1;
        position: absolute;
        background-repeat: no-repeat;
    }

    #dd-heading {
        width: 254px;
    }

    #img-cover {
        width: 116px;
        height: 155px;
        border-radius: 8px;
    }

    #button-more-mobile {
        width: 58px;
        height: 23px;
        background-color: var(--primary);
        border-radius: 4px;
        border: 1px solid #959595;
        color: #BABABA;
        margin-left: 0.5rem;
        cursor: pointer;
    }

    #button-more-mobile:hover {
        background-color: #FFFFFF50;
        color: #ffffff;
        border: none;
    }

    .grid-container-directors-actors-etc {
        display: none;
    }

    .buttons-action-moviepage {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .button-buy, .button-trailer, .button-watchlist {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 8px;
        height: 64px;
        font-size: 24px;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        border: none;
    }

    .button-buy {
        background-color: var(--secondary);
    }

    .button-watchlist, .button-trailer {
        background-color: #FFE194;
    }



}

/* Small (sm) */
@media (min-width: 640px) {

    .movie-page-bg-img {
        background-image: url("../assets/images/moviepage/dungeons-and-dragons-desktop.png");
        background-size: 100%;
        height: 500px;
        width: 100%;
        z-index: -1;
        position: absolute;
        background-repeat: no-repeat;
    }

    #button-more-mobile {
        display: none;
    }

    .movie-description {
        margin-bottom: 1rem;
    }

    .grid-container-directors-actors-etc {
        display: grid;
        grid-template-columns: 78px 368px;
        padding-bottom: 44px;
    }

    .grid-item {
        padding: 8px;
        font-size: 14px;
        text-align: left;
        font-weight: 300;
        line-height: 22px;
    }

    .grid-item-bold {
        font-weight: 400;
        padding-left: 0;
    }

    #img-cover {
        height: 362px;
        width: 270px;
    }

}

/* Medium (md) */
@media (min-width: 768px) {

    #dd-heading, .movie-description {
        width: 522px;
    }

    .movie-details {
        padding-top: 0;
    }



}

/* Large (lg) */
@media (min-width: 1024px) {
    /* Your styles for the large breakpoint here */
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */
}